* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
[data-theme ='dark']{
    --bg-color: #272935;
    --text-color:white;
    --header-bg-color:#414558;
    --navbar-bg-color:#181920;
    --logo-bg-color:#057AFF;
    --link-color:white;
 }
[data-theme ='ligth']{
    --bg-color: white;
    --text-color:#414558;
    --header-bg-color:#181920;
    --navbar-bg-color:#F0F6FF;
    --logo-bg-color:#057AFF;
    --link-color:white;
 }
body {
    font-family: sans-serif;
    font-size: 16px;
    width: 1500px;
    background-color: var(--bg-color);
}


.header-container{
    width: 100vw;
    background-color: #414558;
   margin: 0 auto;
   height: 100px;
   padding-top: 10px;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181920;
    padding: 10px 100px;
}
ul li {
    list-style: none;
    padding: 10px ;

}
ul {
    display: flex;
    align-items: center;
     gap: 10px;
}
a {
    text-decoration: none;
    color: white;
}
.header-container span {
    width: 50px;
    background-color: var(--logo-bg-color);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: var(--bg-color);
}
.header-container p {
    margin-bottom: 5px;
}
.icon-container {
    display: flex;
    align-items: center;
     gap: 30px;    
}
.icon {
    font-size: 28px;
}
li:hover {
    background-color: #414558;
    border: none;
    border-radius: 5px;
}
.Login {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100vw;
    padding-right: 50px;
}
.Login a {
    font-size: 16px;
}
.Login a:hover{
 text-decoration:underline;
}


 .header-container {
    background-color: var(--header-bg-color);
 }

 .navbar-container {
    background: var(--navbar-bg-color);
    color:var(--text-color)
 }
 .header-container a  {
   color: var(--link-color);
 }
 .navbar-container a, .icon {
    color: var(--text-color);
 }
 li:hover{
    color: var(--bg-color);
 }
 a:hover{
    color:var(--link-color)
 } 